<link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=MuseoModerno:wght@800&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@600&family=Dancing+Script:wght@500&family=MuseoModerno:wght@800&family=Satisfy&display=swap"
    rel="stylesheet">
<app-header></app-header>
<div id="bg">
    <div class="container pt-5">
        <h4>Hello! Welcome to</h4>
        <a>Readit blog</a>
        <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean.
        </h5>
        <br>
        <h5>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars
            had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator
            on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an
            immense dark
            sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy
            light
            streaming through a rift in the clouds.
            
        </h5>      
        <h5>
            
            <b class="nav-link" [routerLink]="'/login'"><img src="https://img.icons8.com/nolan/64/arrow.png"/>  Lets dive in...</b>
        </h5> 
    </div>
</div>